*{
    margin: 0%;
    padding: 0%;
    font-style: none;
}

.fundo{
    background-color: black;
}

.card{
    width: 800px;
    height: 300px;
    background-color: #b89756;
    border-radius: 50px;
    border: white solid 5px;
    color: #f1ead8;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.texto{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

.input{
    width: 400px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;    
    border: solid white 2px;
    margin-top: 24px;
    background-color: #f2cd89;
    margin-left: 10%;
    text-align: center;
    color: #3d2f11;
    font-weight: bolder;
}

.botao{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border: white 2px solid;
    background-color: #f2cd89;
    margin-left: 50px;
    color: #3d2f11;
    font-size: medium;
    font-weight: bolder;
    cursor: pointer;
}

.botao:active{
    background-color: #b89756;
}

.tarefas{
    height: 40px;
    width: 607px;
    border: 2px white solid;
    border-radius: 15px;
    background-color: #3d2f11;
    margin-top: 30px;
    margin-left: 10%;
    color: white;
    font-weight: bolder;
}
